#Header_wrapper {
  background-image: url(../../assets/about/about-header.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: auto;
}
.button_size_2:hover {
  color: #00a2b9;
}
ul.list_check li, li.list_check {
  background: url(../../assets/about/list_check.png) no-repeat 20px 5px;
}

.mcb-section-hq1v959pr .image_wrapper {
  width: 200px;
  height: auto;
  border-radius: 50%;
}