<div id="Wrapper">
    <div id="Header_wrapper" >
        <header id="Header"></header>
        <div id="Subheader">
            <div class="container">
                <div class="column one">
                    <h1 class="title">A few words
                        <br> about us</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section mcb-section-zalcli4of" style="padding-top:120px;padding-bottom:80px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-ibp0s2h94 one-second valign-top clearfix" style="padding:0 3% 0 0">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-8l4e3eimb one column_column">
                                        <div class="column_attr clearfix">
                                            <h2>Fusce ut velit laoreet tempus</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-stnl0hjmr one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="../../assets/about/about-pic1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-gbl8kgbrh one column_column">
                                        <div class="column_attr clearfix">
                                            <p>
                                                Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere. Nunc urna libero, congue porta nibh a, semper feugiat sem. Sed auctor dui eleifend, scelerisque eros ut, pellentesque nibh. Nam lacinia suscipit accumsan.
                                            </p>
                                            <p>
                                                Donec sodales, neque vitae rutrum convallis, nulla tortor pharetra odio, in varius ante ante sed nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-uwrq27nof one-second valign-top clearfix" style="padding:0 0 0 3%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-cqfztanf6 one column_column">
                                        <div class="column_attr clearfix">
                                            <p>
                                                <strong>Ut ultricies imperdiet sodales. Aliquam fringilla aliquam ex sit amet elementum. Proin bibendum sollicitudin feugiat. </strong>
                                            </p>
                                            <p>
                                                Curabitur ut egestas justo, vitae molestie ante. Integer magna purus, commodo in diam nec, pretium auctor sapien. In pulvinar, ipsum eu dignissim facilisis, massa justo varius purus, non dictum elit nibh ut massa. Nam massa erat, aliquet a rutrum eu,
                                                sagittis ac nibh. Pellentesque velit dolor, suscipit in ligula
                                            </p>
                                            <hr class="no_line" style="margin:0 auto 15px">
                                            <ul class="list_check">
                                                <li>
                                                    Cras massa nibh, tincidunt ut eros
                                                </li>
                                                <li>
                                                    Mauris rhoncus orci in imperdiet
                                                </li>
                                                <li>
                                                    Cras massa nibh, tincidunt ut eros
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-wwq2jxjnx one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="../../assets/about/about-pic2.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-4n4sdd58e one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-cc5wv2w41 one column_divider">
                                        <hr class="no_line" style="margin:0 auto 20px">
                                    </div>
                                    <div class="column mcb-column mcb-item-6t8l4o1tz one column_button">
                                        <div class="button_align align_center">
                                            <a class="button button_size_2 button_dark button_js" [routerLink]="['/gallery']"><span class="button_label">VIEW OUR GALLERY</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-m0z8p0ywp" style="padding-top:120px;padding-bottom:80px;background-color:#463229;background-image:url(images/hotel5-sectionbg2.png);background-repeat:repeat;background-position:center top">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-c40durmk6 one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-lq95z4xgr one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h2 style="color: #ead8be;">Curabitur lacinia</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-b9j8zl5yn one-fourth valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-7oq9nmwi8 one column_column column-margin-20px">
                                        <div class="column_attr clearfix align_center" style="border-bottom: 4px solid #00a2b9;">
                                            <h2 style="color: #fff;">74</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-qa4lhsquu one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h6 style="color: #fff;">MAECENAS IMPERDIET ANTE EGET</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-tzydzhv11 one-fourth valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-oi301jmrm one column_column column-margin-20px">
                                        <div class="column_attr clearfix align_center" style="border-bottom: 4px solid #00a2b9;">
                                            <h2 style="color: #fff;">216</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-sue29n1eg one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h6 style="color: #fff;">PARTURIENT MONTES NASCETUR MUS</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-kum5mn9ej one-fourth valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-9j3vmpp63 one column_column column-margin-20px">
                                        <div class="column_attr clearfix align_center" style="border-bottom: 4px solid #00a2b9;">
                                            <h2 style="color: #fff;">42</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-ln3wpzzar one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h6 style="color: #fff;">DONEC SODALES NEQUE VITAE RUTRUM</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-eh4r1le2v one-fourth valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-heoyie130 one column_column column-margin-20px">
                                        <div class="column_attr clearfix align_center" style="border-bottom: 4px solid #00a2b9;">
                                            <h2 style="color: #fff;">8</h2>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-s8o46tj2m one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h6 style="color: #fff;">ORCI VARIUS NATOQUE PENATIBUS ET</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-hq1v959pr" style="padding-top:120px;padding-bottom:100px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-kj8vsltca one valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-1voal6t9u one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h2>Our team</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-dtsa9qgnc one-fourth column-margin-20px valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-81wqbh7oh one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="../../assets/personal/member4.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-ed2w5wk9b one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h3 class="themecolor" style="margin-bottom: 5px;">Doris Flores</h3>
                                            <p>
                                                Donec sodales
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-o55pbw7o0 one-fourth column-margin-20px valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-wxp6hrwdh one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="../../assets/personal/member1.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-0yath6d9m one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h3 class="themecolor" style="margin-bottom: 5px;">Kevin Perry</h3>
                                            <p>
                                                Donec sodales
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-e0hxm8qmu one-fourth column-margin-20px valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-qi129k2xi one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="../../assets/personal/member2.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-zl47imcos one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h3 class="themecolor" style="margin-bottom: 5px;">Jennifer Lee</h3>
                                            <p>
                                                Donec sodales
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-ueg8yam77 one-fourth column-margin-20px valign-top clearfix" style="padding:0 2%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-dgg6vzza2 one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="../../assets/personal/member3.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-gua3b18nt one column_column">
                                        <div class="column_attr clearfix align_center">
                                            <h3 class="themecolor" style="margin-bottom: 5px;">Mike McKenzie</h3>
                                            <p>
                                                Donec sodales
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">
                            <div class="column one page-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>