#Header_wrapper {
  background-image: url(../../assets/gallery/hotel-gallery.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: auto;
}
#Content {
  padding-top: 90px;
}