<div id="Wrapper">
    <div>
    <div id="Header_wrapper" style="background-image:url(../../assets/gallery/hotel-gallery.jpg);background-repeat:no-repeat;background-position:center">
        <header id="Header"></header>
        <div id="Subheader">
            <div class="container">
                <div class="column one">
                    <h1 class="title">View our
                        <br> photo gallery</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section mcb-section-9nipofi58 no-margin-h no-margin-v equal-height-wrap" style="padding-top:120px;padding-bottom:80px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-brztprkuj one-second valign-middle bg-cover clearfix" style="padding:120px 5% 80px;height: 524px; background-image:url(../../assets/gallery/hotel-gallery01.jpg);background-repeat:no-repeat;background-position:center">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-izj3lm89q one column_button">
                                        <div class="button_align align_center">
                                            <a class="button button_size_2 button_theme button_js" href="#"><span class="button_label">БРОНИРОВАТЬ</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-jvt1een0m one-second valign-middle clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-h4tx06zwr one-second column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <a href="../../assets/gallery/hotel-gallery02.jpg" rel="prettyphoto">
                                                    <div class="mask"></div><img class="scale-with-grid" src="../../assets/gallery/hotel-gallery02.jpg"></a>
                                                <div class="image_links">
                                                    <a href="../../assets/gallery/hotel-gallery02.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-8i4qs68v7 one-second column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <a href="../../assets/gallery/hotel-gallery03.jpg" rel="prettyphoto">
                                                    <div class="mask"></div><img class="scale-with-grid" src="../../assets/gallery/hotel-gallery03.jpg"></a>
                                                <div class="image_links">
                                                    <a href="../../assets/gallery/hotel-gallery03.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-tr3rgk468 one column_column">
                                        <div class="column_attr clearfix align_center" style="background-color:#fff;padding:60px 10% 45px;">
                                            <h3 class="themecolor">Mauris rhoncus
                                                <br> orci imperdiet placerat</h3>
                                            <p>
                                                Vestibulum vehicula tempor nulla, sed hendrerit urna interdum in. Donec et nibh maximus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-h9au44std no-margin-h no-margin-v equal-height-wrap" style="padding-bottom:80px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-e1dd32jn5 one-second valign-middle bg-cover clearfix" style="padding:120px 5% 80px;height: 524px;background-image:url(../../assets/gallery/hotel-gallery04.jpg);background-repeat:no-repeat;background-position:center">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-mjoi65g0g one column_button">
                                        <div class="button_align align_center">
                                            <a class="button button_size_2 button_theme button_js" href="#"><span class="button_label">БРОНИРОВАТЬ</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-43tnuoa41 one-second valign-middle clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-ekr05awen one-second column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <a href="../../assets/gallery/hotel-gallery05.jpg" rel="prettyphoto">
                                                    <div class="mask"></div><img class="scale-with-grid" src="../../assets/gallery/hotel-gallery05.jpg"></a>
                                                <div class="image_links">
                                                    <a href="../../assets/gallery/hotel-gallery05.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-yk8cjdoht one-second column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <a href="../../assets/gallery/hotel-gallery06.jpg" rel="prettyphoto">
                                                    <div class="mask"></div><img class="scale-with-grid" src="../../assets/gallery/hotel-gallery06.jpg"></a>
                                                <div class="image_links">
                                                    <a href="../../assets/gallery/hotel-gallery06.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-3lbrsz6sa one column_column">
                                        <div class="column_attr clearfix align_center" style="background-color:#fff;padding:60px 10% 45px;">
                                            <h3 class="themecolor">Vestibulum dapibus
                                                <br> mauris nec</h3>
                                            <p>
                                                Vestibulum vehicula tempor nulla, sed hendrerit urna interdum in. Donec et nibh maximus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section mcb-section mcb-section-6wpzf8rqn no-margin-h no-margin-v equal-height-wrap" style="padding-bottom:120px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap mcb-wrap-0ehvzp4pq one-second valign-middle bg-cover clearfix" style="padding:120px 5% 80px;height:524px; background-image:url(../../assets/gallery/hotel-gallery07.jpg);background-repeat:no-repeat;background-position:center">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-imp8c53md one column_button">
                                        <div class="button_align align_center">
                                            <a class="button button_size_2 button_theme button_js" href="#"><span class="button_label">БРОНИРОВАТЬ</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap mcb-wrap-isaiubgpy one-second valign-middle clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column mcb-item-ke9nhb7qo one-second column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <a href="../../assets/gallery/hotel-gallery08.jpg" rel="prettyphoto">
                                                    <div class="mask"></div><img class="scale-with-grid" src="../../assets/gallery/hotel-gallery08.jpg"></a>
                                                <div class="image_links">
                                                    <a href="../../assets/gallery/hotel-gallery08.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-rx0fshopw one-second column_image">
                                        <div class="image_frame image_item scale-with-grid no_border">
                                            <div class="image_wrapper">
                                                <a href="../../assets/gallery/hotel-gallery09.jpg" rel="prettyphoto">
                                                    <div class="mask"></div><img class="scale-with-grid" src="../../assets/gallery/hotel-gallery09.jpg"></a>
                                                <div class="image_links">
                                                    <a href="../../assets/gallery/hotel-gallery09.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column mcb-column mcb-item-4ctykwhs2 one column_column">
                                        <div class="column_attr clearfix align_center" style="background-color:#fff;padding:60px 10% 45px;">
                                            <h3 class="themecolor">Quisque lorem tortor
                                                <br> fringilla sed</h3>
                                            <p>
                                                Vestibulum vehicula tempor nulla, sed hendrerit urna interdum in. Donec et nibh maximus.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="section section-page-footer">
                        <div class="section_wrapper clearfix">
                            <div class="column one page-pager"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>