h1 a{
  color: #00a2b9;
}

.container li a {
  color: #00a2b9;
}
.container li.active a{
  color: #1c1c1c;
}
hr {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 1px solid #333;
}

